# Introducción breve sobre python

Contenido:

* Tipos de objetos
    * Números
    * Strings
    * Printing
    * Listas
    * Diccionarios
    * Booleanos
    * Tuplas 
    * Sets
* Operaciones de comparación
* Declaraciones if,elif, else
* Bucle for
* Bucle while
* range()
* compresión de listas
* funciones
* Expresiones lambda
* map y filter
* métodos
____

## Tipos de datos


### Números

1 + 1

In [1]:
1 * 3

3

In [2]:
1 / 2

0.5

In [3]:
2 ** 4

16

In [4]:
4 % 2

0

In [5]:
5 % 2

1

In [6]:
(2 + 3) * (5 + 5)

50

### Asignación de variables

In [7]:
# No se puede comenzar con un número o carácteres especiales
name_of_var = 2

In [8]:
x = 2
y = 3

In [9]:
z = x + y

In [10]:
z

5

### Strings

In [11]:
'comillas simples'

'comillas simples'

In [12]:
"doble comillas"

'doble comillas'

In [13]:
"con un 'montón' de otras comillas"

"con un 'montón' de otras comillas"

### Printing

In [14]:
x = 'hola'

In [15]:
x

'hola'

In [16]:
print(x)

hola

In [17]:
num = 13
name = 'Santiago'

In [18]:
print('My número es: {one}, y mi nombre es: {two}'.format(one=num,two=name))

My número es: 13, y mi nombre es: Santiago

In [19]:
print('My número es: {}, y mi nombre es: {}'.format(num,name))

My número es: 13, y mi nombre es: Santiago

Otra forma, que es muy útil es usar los llamados f-strings

In [22]:
print(f"My número es {num:.2f}, y mi nombre es {name}")

My número es 13.00, y mi nombre es Santiago

### Listas

In [23]:
[1,2,3]

[1, 2, 3]

In [24]:
['hola',1,[1,2]]

['hola', 1, [1, 2]]

In [25]:
mi_lista = ['a','b','c']

In [26]:
mi_lista.append('d')

In [27]:
mi_lista

['a', 'b', 'c', 'd']

In [28]:
mi_lista[0]

'a'

In [29]:
mi_lista[1]

'b'

In [30]:
mi_lista[1:]

['b', 'c', 'd']

In [31]:
mi_lista[:1]

['a']

In [32]:
mi_lista[0] = 'NUEVO'

In [33]:
mi_lista

['NUEVO', 'b', 'c', 'd']

In [34]:
anidada = [1,2,3,[4,5,['objeto']]]

In [35]:
anidada[3]

[4, 5, ['objeto']]

In [36]:
anidada[3][2]

['objeto']

In [37]:
anidada[3][2][0]

'objeto'

### Diccionarios

In [38]:
d = {'key1':'item1','key2':'item2'}

In [39]:
d

{'key1': 'item1', 'key2': 'item2'}

In [40]:
d['key1']

'item1'

### Booleanos

In [44]:
True

True

In [45]:
False

False

### Tuplas 
¡Objeto inmutable!

In [46]:
t = (1,2,3)

In [47]:
t[0]

1

In [48]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [49]:
{1,2,3}

{1, 2, 3}

In [50]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Operadores de comparación

In [51]:
1 > 2

False

In [52]:
1 < 2

True

In [53]:
1 >= 1

True

In [54]:
1 <= 4

True

In [55]:
1 == 1

True

In [56]:
'hi' == 'bye'

False

## Operadores lógicos

In [57]:
(1 > 2) and (2 < 3)

False

In [58]:
(1 > 2) or (2 < 3)

True

In [59]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## Declaraciones *if, elif, else*

In [60]:
if 1 < 2:
    print('Si!')

Si!

In [61]:
if 1 > 2:
    print('Si!')

In [62]:
if 1 < 2:
    print('es cierto')
else:
    print('es falso')

es cierto

In [63]:
if 1 > 2:
    print('es cierto')
else:
    print('es falso')

es falso

In [64]:
if 1 == 2:
    print('inicio')
elif 3 == 3:
    print('medio')
else:
    print('último')

medio

## Bucles *for*

In [65]:
seq = [1,2,3,4,5]

In [66]:
for item in seq:
    print(item)

1
2
3
4
5

In [67]:
for item in seq:
    print('Si')

Si
Si
Si
Si
Si

In [68]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## Bucles *while*

In [69]:
i = 1
while i < 5:
    print('i es: {}'.format(i))
    i = i+1

i es: 1
i es: 2
i es: 3
i es: 4

## range()

In [70]:
range(6) #Es un generador!

range(0, 6)

In [71]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [72]:
list(range(6)) #Convierte el generador en una lista

[0, 1, 2, 3, 4, 5]

## Compresión de listas

In [73]:
x = [1,2,3,4]

In [74]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [75]:
[item**2 for item in x]

[1, 4, 9, 16]

## Funciones

In [76]:
def my_func(param1='defecto'):
    """
    Alguna documentación va aquí.
    """
    print(param1)

In [77]:
my_func

In [78]:
my_func()

defecto

In [79]:
my_func('nuevo parámetro')

nuevo parámetro

In [80]:
my_func(param1='nuevo parámetro')

nuevo parámetro

In [81]:
def square(x):
    return x**2

In [82]:
out = square(2)

In [83]:
print(out)

4

## Expresiones *lambda*

In [84]:
def mult2(var):
    return var*2

In [85]:
mult2(2)

4

In [86]:
por2 = lambda var: var*2 #Define una sola función en una línea
por2

In [87]:
por2(4)

8

## *map* y *filter*

In [88]:
seq = [1,2,3,4,5]

In [89]:
map(mult2,seq)

In [90]:
list(map(mult2,seq))

[2, 4, 6, 8, 10]

In [91]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [92]:
filter(lambda item: item%2 == 0,seq)

In [93]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos

In [94]:
st = 'Hola, mi nombre es Santiago'

In [95]:
st.lower()

'hola, mi nombre es santiago'

In [96]:
st.upper()

'HOLA, MI NOMBRE ES SANTIAGO'

In [97]:
st.split()

['Hola,', 'mi', 'nombre', 'es', 'Santiago']

In [98]:
tweet = 'Haz deporte! #Deporte'

In [99]:
tweet.split('#')

['Haz deporte! ', 'Deporte']

In [100]:
tweet.split('#')[1]

'Deporte'

In [101]:
d

{'key1': 'item1', 'key2': 'item2'}

In [102]:
d.keys()

dict_keys(['key1', 'key2'])

In [103]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [104]:
lst = [1,2,3]

In [105]:
lst.pop()

3

In [106]:
lst

[1, 2]

In [107]:
'x' in [1,2,3]

False

In [108]:
'x' in ['x','y','z']

True

# Importación de módulos
Las librerias externas son usadas mediante la instrucción `import [libname]`. También se puede usar para funciones individuales mediante: `from [libname] import [function_name]`.

In [109]:
import random

randomint = random.randint(1,100)
print(randomint)

2

In [110]:
import numpy as np
np.random.randint(100)

87

# Final de la introducción

# Bibliografía

Este no es un curso formal o un tutorial completo sobre Python o un curso sobre programación general. Si deseas conocer más acerca de python las siguientes referencias pueden ser de utilidad:

* [Tutorial oficial de python 3](https://docs.python.org/3/tutorial/index.html)
* [Videos de Python para novatos de microsoft](https://www.youtube.com/playlist?list=PLlrxD0HtieHhS8VzuMCfQD4uJ9yne1mE6)
* [Google's Python Class](https://developers.google.com/edu/python/)
* [Learn Python The Hard Way](http://learnpythonthehardway.org/book/) 
* [Automate the Boring Stuff with Python](https://automatetheboringstuff.com/)
* [Real Python: first steps with python](https://realpython.com/learn/python-first-steps/)
* [Learn Python](http://www.learnpython.org/)
* [The Hitchhiker’s Guide to Python!](http://docs.python-guide.org/en/latest/)
* [Dan Bader's blog](https://dbader.org/blog/)

---
# <span style="color:red">**Sección opcional**</span>

# Clases
Python admite una forma limitada de múltiples herencias en las clases. Las variables y los métodos privados se pueden declarar añadiendo al menos dos guiones bajos principales y, como máximo, uno posterior (por ejemplo, `__spam`). También podemos enlazar nombres arbitrarios a instancias de clase. Unos ejemplos se muestran a continuación:

In [ ]:
class MyClass(object):
    common = 10
    def __init__(self):
        self.myvariable = 3
    def myfunction(self, arg1, arg2):
        return self.myvariable

#### Se crea una instancia de la clase:

In [ ]:
classinstance = MyClass()
classinstance.myfunction(1, 2)

#### Esta variable es compartida por todas las instancias

In [ ]:
classinstance2 = MyClass()
classinstance.common

In [ ]:
classinstance2.common

#### Ahora cambiamos la variable "common" para todos los objetos (instanciados) de la clase

In [ ]:
MyClass.common = 30
classinstance.common

In [ ]:
classinstance2.common

#### Esto no actualiza la variable sobre la clase, sino vincula un nuevo objeto a la antigüa nombre de la variable

In [ ]:
classinstance.common = 10
classinstance.common

In [ ]:
classinstance2.common

#### Asignar un nuevo valor a variable *common*  de la clase, no cambiara ahora en el objeto *classinstance* porque es una variable propia del objeto instanciado (es una variable instanciada).

In [ ]:
MyClass.common = 50
classinstance.common

#### El ejemplo de la clase anterior hereda de "*object*", el cual se llama cada vez que se crea una nueva clase. La siguiente clase hereda de *MyClass*. 
La herencia múltiple se puede declarar como: `class OtherClass(MyClass1, MyClass2, MyClass3)`

In [ ]:
class OtherClass(MyClass):
    # El argumento "self" se pasa automáticamente y se refiere
    # a la instancia de la clase, por lo que puede establecer 
    # variables instanciadas como las anteriores, pero desde
    # el interior de la clase.
    def __init__(self, arg1):
        self.myvariable = 3
        print(arg1)

In [ ]:
classinstance = OtherClass('hola')

In [ ]:
classinstance.myfunction(1,2)

#### Esta clase no tiene un miembro .test, pero de todos modos podemos agregar uno a la instancia. Tenga en cuenta que esto solo será un miembro de classinstance.

In [ ]:
classinstance.test = 10
classinstance.test

# Excepciones
Las excepciones en python son manejadas mediante bloques de `try - except`

In [ ]:
def some_function():
    try:
        # La división por cero causa una excepción
        10 / 0
    except ZeroDivisionError:
        print("Oops, esto es inválido.")
    else:
        # La excepción no ocurrió, estamos bien
        pass
    finally:
        # Esto se ejecuta despúes de que el bloque del
        # código es ejecutado y todas las excepciones
        # han sido manejadas
        print("Terminamos con esto.")

In [ ]:
some_function()